* {
  margin: 0px;
}

body {
  display: grid;
  background-image: linear-gradient(to right, white 50%, blue 50%);
  grid-template-rows: 1fr 9fr 1fr;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  height: 100vh;
  user-select: none;
}

nav {
  grid-area: navbar;
  background-color: black;
  display: flex;
}

button {
  border-width: 0.1vw;
}

.mirror {
  aspect-ratio: 16/9;
  width: 14vw;
  height: auto;
  background-color: white;
  background-image: url('img/KJV_RVO_Logo.jpg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  border: 0px;
  outline: none;
}

.kämpfer {
  font-size: 500%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.links {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.rechts {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.inb {
  font-size: 3vw;
  background-color: blue;
  border: 0px;
  color: white;
  text-align: center;
}

.inw {
  font-size: 3vw;
  background-color: white;
  border: 0px;
  color: black;
  text-align: center;
}

.Punkte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pktBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1vw;
}

.pktBtn button {
  font-size: 2vw;
  width: 6vh;
}

.pkt {
  font-size: 2vw;
  margin: 1vw;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.countdown {
  font-size: 9vw;
}

.red_dot {
  width: 12vw;
  height: 12vw;
  display: flex;
}

.countdown {
  background-color: black;
  color: gold;
}

.title {
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0px;
  color: gold;
  background-color: black;
  text-align: center;
  width: 100%;
}

.config {
  flex-direction: column;
  justify-content: flex-start;
}

.config input {
  font-size: 3vw;
  background-color: black;
  color: gold;
  text-align: center;
}

.config button {
  font-size: 3vw;
  background-color: black;
  border: 0px;
  color: gold;
  text-align: center;
}

.config button:hover {
  background-color: gold;
  color: black;
  cursor: pointer;
}

.Copyright {
  font-size: 3vh;
  color: white;
  text-align: right;
}