* {
  margin: 0px;
}

body {
  display: grid;
  background-image: linear-gradient(to right, blue 50%, white 50%);
  grid-template-rows: 1fr 9fr 1fr;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  height: 100vh;
}

nav {
  grid-area: navbar;
  background-color: black;
  display: flex;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kämpfer {
  font-size: 500%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.links {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.rechts {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.inb {
  font-size: 3vw;
  background-color: blue;
  border: 0px;
  color: white;
  text-align: center;
}

.inw {
  font-size: 3vw;
  background-color: white;
  border: 0px;
  color: black;
  text-align: center;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.countdown {
  font-size: 9vw;
}

.red_dot {
  width: 12vw;
  height: 12vw;
  display: flex;
}

.countdown {
  background-color: black;
  color: gold;
}

.title {
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0px;
  color: gold;
  background-color: black;
  text-align: center;
  width: 100%;
}

.config {
  flex-direction: column;
  justify-content: flex-start;
}
